
body {
	color: #333;
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	line-height: 1.6;
	margin: 0;

}

header {
	background: #F4CA16;
	position: fixed;
	top: 0;
	width: 100%;
}

a{
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #cccccc;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer a{
	color: #888888;
	font-weight: bold;
}


h1, h3, p {
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 1.5em;
}

h2 {
	text-transform: uppercase;
	font-size: 1em;
}

h3 {
	color: #fff;
	font-size: 1em;
	font-weight: normal;
}

section{
	min-height: 100vh;
}

.students {
	margin-top: 120px;
	font-size: 1.5em;
	padding-top: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.students a {
	display: inline-block;
	margin-bottom: 1em;
	box-sizing: border-box;
	transition: background-color 300ms, color 300ms;
	padding: 5px 15px;
}

.students a:hover {
	color: #fff;
}

.container {
	max-width: 800px;
	margin: auto;
	text-align: left;
	padding: 1.2em;
}	

footer {
	font-size: .8em;
	color: #888;
}
footer .container {
	border-top: 2px dotted #cccccc;
	padding: 1em 2em;
}

@media screen and (max-width: 450px){
	footer{
		position: static;
	}

}